.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
border-bottom: 1px solid rgb(85, 85, 85);
}
.navbar a{
text-decoration: none;
color: aliceblue;
}
.navbarRight{
    gap: 24px;
    display: flex;
}
.navbarRight span{
    font-size: 25px;
    font-weight: 500;
}
.navbarRight button{
    font-size: 20px;
    font-weight: 700;
  background-color: rgba(64, 64, 187, 0.679);
  color: white;
}